@charset "utf-8";


/* 見出し */
.midashi{
    font-family: 'Libre Baskerville', serif;
    width:300px;
    letter-spacing: 0.25em;
    padding-top: 10px;
    padding-left: 40px;
    /* color: black; */
    font-size: 35px;
  
  }
  
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: white;
    letter-spacing : 0.2em;
    font-size: 20px;
    overflow-x: hidden;
    
  }
  
  
  
  header {
    padding: 10px 4% 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
  }
  
  a {	
    text-decoration: none;
    color: black;
  }
  

  ul {
    list-style: none;
    margin: 0;
    display: flex;
  }
  li {
    margin: 0 0 0 15px;
    font-size: 14px;
   
  }
  





/* フォーム */

.form{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 40px;
  
}

#id{
  width: 40%;
  padding:1.2em .8em;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 1em;
  margin: 10px 15px;
}


input[type="text"]{
    font-weight: bold;
    color: black;
}

.form input[type=submit] {
  -webkit-appearance: none;
  border-radius: 0;
       font-weight: bold;
      color: white;
     width: 10%;
    padding: 1.3em .7em;
    box-sizing: border-box;
    border: 1px solid #aaa;
    margin-top: 30px;
    border-radius: 1em; 
    background-color: #aaa;
}





/* 商品一覧 */
div #column1{
    display: none;
}       

 
 
/* 商品一覧 */
#colum1 img {
    max-width: 100%;
    height: auto;
    border-radius:10px ;
  }

#column1 ul {
    margin: 0 10px;
    padding: 0;
    width: 360px;
      display: flex;
      flex-wrap: wrap;
      display: none;

  }
  
  #column1 li {
      padding: 0 10px 20px;
      display: none;
  }
  
  #column1 li a,
  #column1 li a:visited {
      text-decoration: none;
      color: #111;
      display: none;
  }
  
  #column1 li p {
      font-size: 90%;
      margin-bottom: 3px;
      text-align: center;
      display: none;
  }
  
  #column1 li span {
      font-size: 80%;
      display: block;
      text-align: center;
      display: none;
  }



  .column02 li {
	width: calc(50% - 20px);
    display: none;
}
  
  /* .column03 h3{
    text-align: center;
    color: #333;
    margin-top: 100px;
    margin-bottom:50px ;
    
  }
   */
  .column02 h3{
    text-align: center;
    color: #333;
    margin-top: 100px;
    margin-bottom:50px ;
    display: none;
  }


/* ---------------- */


#column img {
    max-width: 100%;
    height: auto;
  }

  #column li img{
    border-radius:10px ;
}

#column ul {
    width: 80%;
    margin: 0 110px;
    display: flex;
    flex-wrap: wrap;
  }
  
  
  #column li {
      padding: 0 10px 20px;
  }
  


  #column li a,
  #column li a:visited {
      text-decoration: none;
      color: #111;
  }
  
  #column li p {
      font-size: 90%;
      margin-bottom: 3px;
      text-align: center;
  }
  
  #column li span {
      font-size: 80%;
      display: block;
      text-align: center;
  }
  

  .column03 li {
      width: calc(33.3333% - 20px);
  
  }
  

  .column03 h3{
    text-align: center;
    color: #333;
    margin-top: 150px;
    margin-bottom:50px ;
  }
  
  
/*主な共通部分は省略*/


a.btn--orange {
    margin: 10px 100px;
    
    padding: 5px 20px;
    text-align: center;

  }
  a.btn--orange:hover{
    background-color: lightgray;
  }

  a.btn--border-solid{
      text-align: center;
  }

a.btn--orange.btn--border-solid {
    border: 1px solid black;
  }

  






    /*ハンバーガーボタン*/
    .el_humburger {
        position: fixed;
        top: 50px;
        right: 60px;
        width: 43px;
        height: 25px;
        padding-top: 1px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 0px;
        z-index: 20;
        cursor: pointer;
        pointer-events: auto;
        color: #000;
        text-align: center;
      }



.el_humburger_wrapper {
margin-bottom: 5px;
width: 42px;
display: inline-block; }


.el_humburger_text {
font-size: 12px;
letter-spacing: 0.1em;
font-family: "游ゴシック Medium", YuGothic, "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif; }

.js_humburgerOpen .el_humburger_text.el_humburger_text__menu {
display: none; }

.el_humburger_text.el_humburger_text__close {
display: none; }

.js_humburgerOpen .el_humburger_text.el_humburger_text__close {
display: block; }


.el_humburger span.el_humburger_bar {
display: block;
width: 100%;
margin: 0 auto 9px;
height: 1px;
background: #000;
-webkit-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out; }

.el_humburger span.el_humburger_bar:last-child {
margin-bottom: 0; }

.js_humburgerOpen .el_humburger span.el_humburger_bar {
background: #000; }


.js_humburgerOpen .el_humburger span.el_humburger_bar.top {
-webkit-transform: translateY(9px) rotate(-45deg);
-ms-transform: translateY(9px) rotate(-45deg);
transform: translateY(9px) rotate(-45deg); }

.js_humburgerOpen .el_humburger span.el_humburger_bar.middle {
opacity: 0; }

.js_humburgerOpen .el_humburger span.el_humburger_bar.bottom {
-webkit-transform: translateY(-11px) rotate(45deg);
-ms-transform: translateY(-11px) rotate(45deg);
transform: translateY(-11px) rotate(45deg); }

.el_humburgerButton.el_humburgerButton__close {
top: 2%;
right: 2%; }

.el_humburgerButton__close span.el_humburger_bar {
display: block;
width: 35px;
margin: 0 auto;
height: 4px;
background: #000; }

.el_humburgerButton__close span.el_humburger_bar.top {
-webkit-transform: translateY(5px) rotate(-45deg);
-ms-transform: translateY(5px) rotate(-45deg);
transform: translateY(5px) rotate(-45deg); }

.el_humburgerButton__close span.el_humburger_bar.bottom {
-webkit-transform: translateY(-6px) rotate(45deg);
-ms-transform: translateY(-6px) rotate(45deg);
transform: translateY(-6px) rotate(45deg); }

.navi {
position: fixed;
right: 0;
height: 100%;
background-color: rgba(255, 255, 255, 0.9);
width: 450px;
z-index: 3;
padding-top: 100px;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 600ms ease-out;
-o-transition: all 600ms ease-out;
transition: all 600ms ease-out;
transform:translateZ(0) translateX(100%);
overflow: auto; }
.js_humburgerOpen .navi {
  transform:translateZ(0) translateX(0); }
@media screen and (max-width: 840px) {
.navi {
      padding: 100px 5% 0; }
.js_humburgerOpen .navi {
      width: 100%;} }

.navi_item {
margin-bottom: 28px;
font-size: 20px;
font-family: "Marcellus", serif !important;
white-space: nowrap;
margin-left: 90px; }
.navi_item.op_innerLink {
  cursor: pointer; }

  


/* レスポンシブデザイン */


 
        /* iPad pro */
        @media screen and (device-width: 1024px) and (device-height: 1366px) { 
          

          html{
            overflow-x: hidden;
        }
        
                  body{
                    overflow-x: hidden;
                    margin: 0;
                  }
        
                  .midashi{
                    font-family: 'Libre Baskerville', serif;
                    width:200px;
                    font-size: 55px;
                    letter-spacing: 0.25em;
                    padding-left: 20px;
                    color: black;
                  
                  }
                  
                  header {
                    padding: 0px 4% 10px;
                    position: fixed;
                    top: 0;
                    width: 100%;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    font-family: 'Libre Baskerville', serif;
                  }
               
        
                  /* フォーム */
        
        .form{
            text-align: center;
            margin-top: 200px;
            margin-bottom: 20px;
          
        }
        
        #id{
          width: 50%;
          padding:2.0em .8em;
          box-sizing: border-box;
          border: 1px solid #aaa;
          border-radius: 1em;
          margin: 10px 10px;
        }
        
        
        input[type="text"]{
            font-weight: bold;
            color: black;
        }
        
        .form input[type=submit] {
          -webkit-appearance: none;
          border-radius: 0;
               font-weight: bold;
              color: white;
             width: 15%;
            padding: 1.6em .6em;
            box-sizing: border-box;
            border: 1px solid #aaa;
            margin-top: 30px;
            border-radius: 1em; 
            background-color: #aaa;
        }
        
         
       
#column img {
  max-width: 100%;
  height: auto;
}

#column li img{
  border-radius:10px ;
}

/* #column ul {
  width: 80%;

  
  margin: 0 300px;
    display: flex;
    flex-wrap: wrap;
} */

#column ul {
  width: 1000px;
  margin: 0 ;
  display: flex;
  flex-wrap: wrap;
}


#column li {
    padding: 0 10px 20px;
}



#column li a,
#column li a:visited {
    text-decoration: none;
    color: #111;
}

#column li p {
    font-size: 90%;
    margin-bottom: 3px;
    text-align: center;
}

#column li span {
    font-size: 80%;
    display: block;
    text-align: center;
}


.column03 li {
    width: calc(33.3333% - 20px);

}


.column03 h3{
  text-align: center;
  color: #333;
  margin-top: 150px;
  margin-bottom:50px ;
}


/*主な共通部分は省略*/


a.btn--orange {
  margin: 10px 90px;
  
  padding: 5px 20px;
  text-align: center;

}
a.btn--orange:hover{
  background-color: lightgray;
}

a.btn--border-solid{
    text-align: center;
}

a.btn--orange.btn--border-solid {
  border: 1px solid black;
}




        
                  /*ハンバーガーボタン*/
                .el_humburger {
                  position: fixed;
                  top: 85px;
                  right: 40px;
                  width: 43px;
                  height: 25px;
                  padding-top: 1px;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  padding-top: 0px;
                  z-index: 20;
                  cursor: pointer;
                  pointer-events: auto;
                  color: #000;
                  text-align: center;
                }
    
          
          
        }

 /* iPad air */
 @media screen and (device-width: 820px) and (device-height: 1180px) { 


  html{
    overflow-x: hidden;
}

          body{
            overflow-x: hidden;
            margin: 0;
          }

          .midashi{
            font-family: 'Libre Baskerville', serif;
            width:200px;
            font-size: 55px;
            letter-spacing: 0.25em;
            padding-left: 20px;
            color: black;
          
          }
          
          header {
            padding: 0px 4% 10px;
            position: fixed;
            top: 0;
            width: 100%;
            background-color: transparent;
            display: flex;
            align-items: center;
            font-family: 'Libre Baskerville', serif;
          }
       

          /* フォーム */

.form{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 20px;
  
}

#id{
  width: 50%;
  padding:2.0em .8em;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 1em;
  margin: 10px 10px;
}


input[type="text"]{
    font-weight: bold;
    color: black;
}

.form input[type=submit] {
  -webkit-appearance: none;
  border-radius: 0;
       font-weight: bold;
      color: white;
     width: 15%;
    padding: 1.6em .6em;
    box-sizing: border-box;
    border: 1px solid #aaa;
    margin-top: 30px;
    border-radius: 1em; 
    background-color: #aaa;
}

 

#column img {
max-width: 100%;
height: auto;
}

#column li img{
border-radius:10px ;
}

/* #column ul {
width: 80%;


margin: 0 300px;
display: flex;
flex-wrap: wrap;
} */

#column ul {
width: 800px;
margin: 0 10px;
padding: 0;
display: flex;
flex-wrap: wrap;
}


#column li {
padding: 0 10px 20px;
}



#column li a,
#column li a:visited {
text-decoration: none;
color: #111;
}

#column li p {
font-size: 90%;
margin-bottom: 3px;
text-align: center;
}

#column li span {
font-size: 80%;
display: block;
text-align: center;
}


.column03 li {
width: calc(33.3333% - 20px);

}


.column03 h3{
text-align: center;
color: #333;
margin-top: 150px;
margin-bottom:50px ;
}


/*主な共通部分は省略*/


a.btn--orange {
margin: 10px 60px;

padding: 5px 20px;
text-align: center;

}
a.btn--orange:hover{
background-color: lightgray;
}

a.btn--border-solid{
text-align: center;
}

a.btn--orange.btn--border-solid {
border: 1px solid black;
}





          /*ハンバーガーボタン*/
        .el_humburger {
          position: fixed;
          top: 85px;
          right: 40px;
          width: 43px;
          height: 25px;
          padding-top: 1px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          padding-top: 0px;
          z-index: 20;
          cursor: pointer;
          pointer-events: auto;
          color: #000;
          text-align: center;
        }





}


        /* iPad */
        @media screen and (max-width:768px){ 
         html{
            overflow-x: hidden;
        }
        
                  body{
                    overflow-x: hidden;
                    margin: 0;
                  }
        
                  .midashi{
                    font-family: 'Libre Baskerville', serif;
                    width:200px;
                    font-size: 50px;
                    letter-spacing: 0.25em;
                    padding-left: 20px;
                    color: black;
                  
                  }
                  
                  header {
                    padding: 0px 4% 10px;
                    position: fixed;
                    top: 0;
                    width: 100%;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    font-family: 'Libre Baskerville', serif;
                  }
               
        
                  /* フォーム */
        
        .form{
            text-align: center;
            margin-top: 150px;
            margin-bottom: 40px;
          
        }
        
        #id{
          width: 70%;
          padding:1.6em .8em;
          box-sizing: border-box;
          border: 1px solid #aaa;
          border-radius: 1em;
          margin: 10px 10px;
        }
        
        
        input[type="text"]{
            font-weight: bold;
            color: black;
        }
        
        .form input[type=submit] {
          -webkit-appearance: none;
          border-radius: 0;
               font-weight: bold;
              color: white;
             width: 15%;
            padding: 1.2em .7em;
            box-sizing: border-box;
            border: 1px solid #aaa;
            margin-top: 30px;
            border-radius: 1em; 
            background-color: #aaa;
        }
        
         
        
         
        /* ---------------- */
        
          
        /* 商品一覧 */
        img {
            max-width: 100%;
            height: auto;
            border-radius:10px ;
          }
        
        /* .column03{
           margin: 0;
           display: none;
        } */
        
        #column ul {
            margin: 0 30px;
            padding: 0;
            width: 700px;
              display: flex;
              flex-wrap: wrap;
          }
          
          #column li {
              padding: 0 10px 20px;
          }
          
          #column li a,
          #column li a:visited {
              text-decoration: none;
              color: #111;
          }
          
          #column li p {
              font-size: 90%;
              margin-bottom: 3px;
              text-align: center;
          }
          
          #column li span {
              font-size: 80%;
              display: block;
              text-align: center;
          }
        
        
        
          .column03 li {
          width: calc(50% - 20px);
        }
         
          
          .column03 h3{
            text-align: center;
            color: #333;
            margin-top: 100px;
            margin-bottom:50px ;
          }
          
        /*主な共通部分は省略*/
        
        
        a.btn--orange {
            margin: 15px 100px;
            padding: 5px 20px;
            text-align: center;
        
          }
          a.btn--orange:hover{
            background-color: lightgray;
          }
        
          a.btn--border-solid{
              text-align: center;
          }
        
        a.btn--orange.btn--border-solid {
            border: 1px solid black;
          }
        
                
        
                  /*ハンバーガーボタン*/
                .el_humburger {
                  position: fixed;
                  top: 75px;
                  right: 40px;
                  width: 43px;
                  height: 25px;
                  padding-top: 1px;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  padding-top: 0px;
                  z-index: 20;
                  cursor: pointer;
                  pointer-events: auto;
                  color: #000;
                  text-align: center;
                }
    
  


        }

 /* スマホ(iPhone6/7/8 plus) */
        @media screen and (max-width: 414px) { 

          html{
            overflow-x: hidden;
        }
        
                  body{
                    overflow-x: hidden;
                    margin: 0;
                  }
        
                  .midashi{
                    font-family: 'Libre Baskerville', serif;
                    width:200px;
                    font-size: 40px;
                    letter-spacing: 0.25em;
                    padding-left: 20px;
                    color: black;
                  
                  }
                  
                  header {
                    padding: 2px 4% 10px;
                    position: fixed;
                    top: 0;
                    width: 100%;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    font-family: 'Libre Baskerville', serif;
                  }
               
        
                  /* フォーム */
        
        .form{
            text-align: center;
            margin-top: 150px;
            margin-bottom: 40px;
          
        }
        
        #id{
          width: 70%;
          padding:1.2em .8em;
          box-sizing: border-box;
          border: 1px solid #aaa;
          border-radius: 1em;
          margin: 10px 10px;
        }
        
        
        input[type="text"]{
            font-weight: bold;
            color: black;
        }
        
        .form input[type=submit] {
          -webkit-appearance: none;
          border-radius: 0;
               font-weight: bold;
              color: white;
             width: 20%;
            padding: 1.2em .7em;
            box-sizing: border-box;
            border: 1px solid #aaa;
            margin-top: 30px;
            border-radius: 1em; 
            background-color: #aaa;
        }
        
         
        
         
        /* ---------------- */
        
          
        /* 商品一覧 */
        img {
            max-width: 100%;
            height: auto;
            border-radius:10px ;
          }
        
        /* .column03{
           margin: 0;
           display: none;
        } */
        
        #column ul {
            margin: 0 13px;
            padding: 0;
            width: 420px;
              display: flex;
              flex-wrap: wrap;
          }
          
          #column li {
              padding: 0 10px 20px;
          }
          
          #column li a,
          #column li a:visited {
              text-decoration: none;
              color: #111;
          }
          
          #column li p {
              font-size: 90%;
              margin-bottom: 3px;
              text-align: center;
          }
          
          #column li span {
              font-size: 80%;
              display: block;
              text-align: center;
          }
        
        
          .column03{
            margin: 0 0px;
          }
              .column03 li {
              width: calc(90% - 20px);
                
            }
        
         
          
          .column03 h3{
            text-align: center;
            color: #333;
            margin-top: 100px;
            margin-bottom:50px ;
          }
          
        /*主な共通部分は省略*/
        
        
        a.btn--orange {
          margin: 10px 120px;
          padding: 5px 20px;
          text-align: center;
        
        }
          a.btn--orange:hover{
            background-color: lightgray;
          }
        
          a.btn--border-solid{
              text-align: center;
          }
        
        a.btn--orange.btn--border-solid {
            border: 1px solid black;
          }
        
                
        
                  /*ハンバーガーボタン*/
                .el_humburger {
                  position: fixed;
                  top: 60px;
                  right: 40px;
                  width: 43px;
                  height: 25px;
                  padding-top: 1px;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  padding-top: 0px;
                  z-index: 20;
                  cursor: pointer;
                  pointer-events: auto;
                  color: #000;
                  text-align: center;
                }
        
  

 
  

        }


        /* スマホ(iPhone6/7/8) */
        @media screen and (max-width: 375px) {
html{
    overflow-x: hidden;
}

          body{
            overflow-x: hidden;
            margin: 0;
          }

          .midashi{
            font-family: 'Libre Baskerville', serif;
            width:200px;
            font-size: 35px;
            letter-spacing: 0.25em;
            padding-left: 20px;
            color: black;
          
          }
          

       

          /* フォーム */

.form{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 40px;
  
}

#id{
  width: 70%;
  padding:1.2em .8em;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 1em;
  margin: 10px 10px;
}


input[type="text"]{
    font-weight: bold;
    color: black;
}

.form input[type=submit] {
  -webkit-appearance: none;
  border-radius: 0;
       font-weight: bold;
      color: white;
     width: 20%;
    padding: 1.2em .7em;
    box-sizing: border-box;
    border: 1px solid #aaa;
    margin-top: 30px;
    border-radius: 1em; 
    background-color: #aaa;
}

 

 
/* ---------------- */

  
/* 商品一覧 */
img {
    max-width: 100%;
    height: auto;
    border-radius:10px ;
  }

/* .column03{
   margin: 0;
   display: none;
} */

#column ul {
    margin: 0 10px;
    padding: 0;
    width: 380px;
      display: flex;
      flex-wrap: wrap;
  }
  
  #column li {
      padding: 0 10px 20px;
  }
  
  #column li a,
  #column li a:visited {
      text-decoration: none;
      color: #111;
  }
  
  #column li p {
      font-size: 90%;
      margin-bottom: 3px;
      text-align: center;
  }
  
  #column li span {
      font-size: 80%;
      display: block;
      text-align: center;
  }


  .column03{
    margin: 0 0px;
  }
      .column03 li {
      width: calc(90% - 20px);
        
    }

 
  
  .column03 h3{
    text-align: center;
    color: #333;
    margin-top: 100px;
    margin-bottom:50px ;
  }
  
/*主な共通部分は省略*/


a.btn--orange {
  margin: 10px 100px;
  padding: 5px 20px;
  text-align: center;

}
  a.btn--orange:hover{
    background-color: lightgray;
  }

  a.btn--border-solid{
      text-align: center;
  }

a.btn--orange.btn--border-solid {
    border: 1px solid black;
  }

        

          /*ハンバーガーボタン*/
        .el_humburger {
          position: fixed;
          top: 60px;
          right: 40px;
          width: 43px;
          height: 25px;
          padding-top: 1px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          padding-top: 0px;
          z-index: 20;
          cursor: pointer;
          pointer-events: auto;
          color: #000;
          text-align: center;
        }



   


        }


        
           /* スマホ(iPhone X) */
           @media screen and (device-width: 375px) and (device-height: 812px) { 

            body{
              overflow-x: hidden;
            }
  
            .midashi{
              font-family: 'Libre Baskerville', serif;
              width:300px;
              font-size: 40px;
              letter-spacing: 0.25em;
              padding-left: 10px;
              color: black;
            
            }
  
  
  
                  
            /*ハンバーガーボタン*/
          .el_humburger {
            position: fixed;
            top: 65px;
            right: 25px;
            width: 46px;
            height: 25px;
            padding-top: 1px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding-top: 0px;
            z-index: 20;
            cursor: pointer;
            pointer-events: auto;
            color: #000;
            text-align: center;
          }
  
  
  
          
  
  
  
          }
   /* スマホ(iPhone XR) */
   @media screen and (device-width: 414px) and (device-height: 896px) { 
    html{
      overflow-x: hidden;
  }
  
            body{
              overflow-x: hidden;
              margin: 0;
            }
  
            .midashi{
              font-family: 'Libre Baskerville', serif;
              width:200px;
              font-size: 45px;
              letter-spacing: 0.25em;
              padding-left: 20px;
              color: black;
            
            }
            
         
  
            /* フォーム */
  
  .form{
      text-align: center;
      margin-top: 150px;
      margin-bottom: 40px;
    
  }
  
  #id{
    width: 70%;
    padding:1.2em .8em;
    box-sizing: border-box;
    border: 1px solid #aaa;
    border-radius: 1em;
    margin: 10px 10px;
  }
  
  
  input[type="text"]{
      font-weight: bold;
      color: black;
  }
  
  .form input[type=submit] {
    -webkit-appearance: none;
    border-radius: 0;
         font-weight: bold;
        color: white;
       width: 20%;
      padding: 1.2em .7em;
      box-sizing: border-box;
      border: 1px solid #aaa;
      margin-top: 30px;
      border-radius: 1em; 
      background-color: #aaa;
  }
  
   
  
   
  /* ---------------- */
  
    
  /* 商品一覧 */
  img {
      max-width: 100%;
      height: auto;
      border-radius:10px ;
    }
  
  /* .column03{
     margin: 0;
     display: none;
  } */
  
  #column ul {
      margin: 0 5px;
      padding: 0;
      width: 410px;
        display: flex;
        flex-wrap: wrap;
    }
    
    #column li {
        padding: 0 10px 20px;
    }
    
    #column li a,
    #column li a:visited {
        text-decoration: none;
        color: #111;
    }
    
    #column li p {
        font-size: 90%;
        margin-bottom: 3px;
        text-align: center;
    }
    
    #column li span {
        font-size: 80%;
        display: block;
        text-align: center;
    }
  
  
    .column03{
      margin: 0 15px;
    }
        .column03 li {
        width: calc(90% - 20px);
          
      }
  
   
    
    .column03 h3{
      text-align: center;
      color: #333;
      margin-top: 100px;
      margin-bottom:50px ;
    }
    
  /*主な共通部分は省略*/
  
  
  a.btn--orange {
    margin: 10px 110px;
    padding: 5px 20px;
    text-align: center;
  
  }
    a.btn--orange:hover{
      background-color: lightgray;
    }
  
    a.btn--border-solid{
        text-align: center;
    }
  
  a.btn--orange.btn--border-solid {
      border: 1px solid black;
    }
  
          
  
            /*ハンバーガーボタン*/
          .el_humburger {
            position: fixed;
            top: 65px;
            right: 40px;
            width: 43px;
            height: 25px;
            padding-top: 1px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding-top: 0px;
            z-index: 20;
            cursor: pointer;
            pointer-events: auto;
            color: #000;
            text-align: center;
          }
  
  
  
     
  
  




   }
       
        /* 
        iPhone 12/iPhone 12 Pro */
        @media screen and (device-width: 390px) and (device-height: 844px) { 

          html{
            overflow-x: hidden;
        }
        
                  body{
                    overflow-x: hidden;
                    margin: 0;
                  }
        
                  .midashi{
                    font-family: 'Libre Baskerville', serif;
                    width:200px;
                    font-size: 45px;
                    letter-spacing: 0.25em;
                    padding-left: 20px;
                    color: black;
                  
                  }
                  
               
        
                  /* フォーム */
        
        .form{
            text-align: center;
            margin-top: 150px;
            margin-bottom: 40px;
          
        }
        
        #id{
          width: 70%;
          padding:1.2em .8em;
          box-sizing: border-box;
          border: 1px solid #aaa;
          border-radius: 1em;
          margin: 10px 10px;
        }
        
        
        input[type="text"]{
            font-weight: bold;
            color: black;
            font-size: 16px;
        }
        
        .form input[type=submit] {
          -webkit-appearance: none;
          border-radius: 0;
               font-weight: bold;
              color: white;
             width: 20%;
            padding: 1.2em .7em;
            box-sizing: border-box;
            border: 1px solid #aaa;
            margin-top: 30px;
            border-radius: 1em; 
            background-color: #aaa;
            font-size: 16px;
        }
        
         
        
         
        /* ---------------- */
        
          
        /* 商品一覧 */
        img {
            max-width: 100%;
            height: auto;
            border-radius:10px ;
          }
        
        /* .column03{
           margin: 0;
           display: none;
        } */
        
        #column ul {
            margin: 0 2px;
            padding: 0;
            width: 390px;
              display: flex;
              flex-wrap: wrap;
          }
          
          #column li {
              padding: 0 10px 20px;
          }
          
          #column li a,
          #column li a:visited {
              text-decoration: none;
              color: #111;
          }
          
          #column li p {
              font-size: 90%;
              margin-bottom: 3px;
              text-align: center;
          }
          
          #column li span {
              font-size: 80%;
              display: block;
              text-align: center;
          }
        
        
         .column03{
        margin: 0 15px;
      }
          .column03 li {
          width: calc(90% - 20px);
            
        }
         
          
          .column03 h3{
            text-align: center;
            color: #333;
            margin-top: 100px;
            margin-bottom:50px ;
          }
          
        /*主な共通部分は省略*/
        
        
        a.btn--orange {
            margin: 10px 105px;
            padding: 5px 20px;
            text-align: center;
        
          }
          a.btn--orange:hover{
            background-color: lightgray;
          }
        
          a.btn--border-solid{
              text-align: center;
          }
        
        a.btn--orange.btn--border-solid {
            border: 1px solid black;
          }
        
                
        
                  /*ハンバーガーボタン*/
                .el_humburger {
                  position: fixed;
                  top: 70px;
                  right: 40px;
                  width: 43px;
                  height: 25px;
                  padding-top: 1px;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  padding-top: 0px;
                  z-index: 20;
                  cursor: pointer;
                  pointer-events: auto;
                  color: #000;
                  text-align: center;
                }
        
        
        
           
        
        



        }
            
          
        /* 
        iPhone 12/iPhone 12 Pro */
        /* @media screen and (device-width: 390px) and (device-height: 844px) { 

          html{
            overflow-x: hidden;
        }
        
                  body{
                    overflow-x: hidden;
                    margin: 0;
                  }
        
                  .midashi{
                    font-family: 'Libre Baskerville', serif;
                    width:200px;
                    font-size: 35px;
                    letter-spacing: 0.25em;
                    padding-left: 20px;
                    color: black;
                  
                  }
                   */
               
        
                  /* フォーム */
/*         
        .form{
            text-align: center;
            margin-top: 150px;
            margin-bottom: 40px;
          
        }
        
        #id{
          width: 70%;
          padding:1.2em .8em;
          box-sizing: border-box;
          border: 1px solid #aaa;
          border-radius: 1em;
          margin: 10px 10px;
        }
        
        
        input[type="text"]{
            font-weight: bold;
            color: black;
        }
        
        .form input[type=submit] {
          -webkit-appearance: none;
          border-radius: 0;
               font-weight: bold;
              color: white;
             width: 20%;
            padding: 1.2em .7em;
            box-sizing: border-box;
            border: 1px solid #aaa;
            margin-top: 30px;
            border-radius: 1em; 
            background-color: #aaa;
        }
        
         
         */
         
        /* ---------------- */
        
          
        /* 商品一覧 */
        /* img {
            max-width: 100%;
            height: auto;
            border-radius:10px ;
          } */
        
      
/*         
        #column ul {
            margin: 0 2px;
            padding: 0;
            width: 390px;
              display: flex;
              flex-wrap: wrap;
          }
          
          #column li {
              padding: 0 10px 20px;
          }
          
          #column li a,
          #column li a:visited {
              text-decoration: none;
              color: #111;
          }
          
          #column li p {
              font-size: 90%;
              margin-bottom: 3px;
              text-align: center;
          }
          
          #column li span {
              font-size: 80%;
              display: block;
              text-align: center;
          }
        
        
        
          .column03 li {
          width: calc(50% - 20px);
        }
         
          
          .column03 h3{
            text-align: center;
            color: #333;
            margin-top: 100px;
            margin-bottom:50px ;
          }
           */
        /*主な共通部分は省略*/
        
/*         
        a.btn--orange {
            margin: 10px 20px;
            padding: 5px 20px;
            text-align: center;
        
          }
          a.btn--orange:hover{
            background-color: lightgray;
          }
        
          a.btn--border-solid{
              text-align: center;
          }
        
        a.btn--orange.btn--border-solid {
            border: 1px solid black;
          }
         */
                
        
                  /*ハンバーガーボタン*/
                /* .el_humburger {
                  position: fixed;
                  top: 60px;
                  right: 40px;
                  width: 43px;
                  height: 25px;
                  padding-top: 1px;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  padding-top: 0px;
                  z-index: 20;
                  cursor: pointer;
                  pointer-events: auto;
                  color: #000;
                  text-align: center;
                }
        
        
        
           
        
        



        }
             */
       
                 
        /* Android */
        @media screen and (max-width: 360px) {


        }


 
