<!DOCTYPE html>
<html lang="ja">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foop/food</title>
  <!-- <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Libre+Baskerville&display=swap" rel="stylesheet"> -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
   <!--CDNでjQuery読み込む-->
   <script
   src="https://code.jquery.com/jquery-2.2.4.min.js"
   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
   crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static 'css/food.css'%}">
  <script type="text/javascript" src="{% static 'js/food.js'%}"></script> 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
  
  <link rel="icon" href="favicon.ico">

</head>

<body>


    <header>
        <h1 class="midashi">
        <a href="">Foop</a>
      </h1>

      </header>
    <form action="user_list.php" method="post" class="form">
        <input type="text" name="id" id="id" placeholder="キーワード">

        <input type="submit" id="submit">
    </form>

    


     
<div id="column" class="column03">
    <h3>食品一覧</h3>
    <ul>
    <li><a href=""><img src="{% static 'media/apples-g6afaaf71f_1920.jpg'%}" /><p>商品名</p><span>2,600円</span><span>有名パン屋さんのパンです</span><br><a href="" class="btn btn--orange btn--border-solid">カート</a></a></li>
    <li><a href=""><img src="{% static 'media/apples-g6afaaf71f_1920.jpg'%}" /><p>商品名</p><span>2,600円</span><span>有名パン屋さんのパンです</span><br><a href="" class="btn btn--orange btn--border-solid">カート</a></a></li>
    <li><a href=""><img src="{% static 'media/apples-g6afaaf71f_1920.jpg'%}" /><p>商品名</p><span>2,600円</span><span>有名パン屋さんのパンです</span><br><a href="" class="btn btn--orange btn--border-solid">カート</a></a></li>
    <li><a href=""><img src="{% static 'media/apples-g6afaaf71f_1920.jpg'%}" /><p>商品名</p><span>2,600円</span><span>有名パン屋さんのパンです</span><br><a href="" class="btn btn--orange btn--border-solid">カート</a></a></li>
    <li><a href=""><img src="{% static 'media/apples-g6afaaf71f_1920.jpg'%}" /><p>商品名</p><span>2,600円</span><span>有名パン屋さんのパンです</span><br><a href="" class="btn btn--orange btn--border-solid">カート</a></a></li>
    <li><a href=""><img src="{% static 'media/apples-g6afaaf71f_1920.jpg'%}" /><p>商品名</p><span>2,600円</span><span>有名パン屋さんのパンです</span><br><a href="" class="btn btn--orange btn--border-solid">カート</a></a></li>
    <li><a href=""><img src="{% static 'media/apples-g6afaaf71f_1920.jpg'%}" /><p>商品名</p><span>2,600円</span><span>有名パン屋さんのパンです</span><br><a href="" class="btn btn--orange btn--border-solid">カート</a></a></li>
    <li><a href=""><img src="{% static 'media/apples-g6afaaf71f_1920.jpg'%}" /><p>商品名</p><span>2,600円</span><span>有名パン屋さんのパンです</span><br><a href="" class="btn btn--orange btn--border-solid">カート</a></a></li>
    <li><a href=""><img src="{% static 'media/apples-g6afaaf71f_1920.jpg'%}" /><p>商品名</p><span>2,600円</span><span>有名パン屋さんのパンです</span><br><a href="" class="btn btn--orange btn--border-solid">カート</a></a></li>
    <li><a href=""><img src="{% static 'media/apples-g6afaaf71f_1920.jpg'%}" /><p>商品名</p><span>2,600円</span><span>有名パン屋さんのパンです</span><br><a href="" class="btn btn--orange btn--border-solid">カート</a></a></li>
    <li><a href=""><img src="{% static 'media/apples-g6afaaf71f_1920.jpg'%}" /><p>商品名</p><span>2,600円</span><span>有名パン屋さんのパンです</span><br><a href="" class="btn btn--orange btn--border-solid">カート</a></a></li>
    <li><a href=""><img src="{% static 'media/apples-g6afaaf71f_1920.jpg'%}" /><p>商品名</p><span>2,600円</span><span>有名パン屋さんのパンです</span><br><a href="" class="btn btn--orange btn--border-solid">カート</a></a></li>
    <li><a href=""><img src="{% static 'media/apples-g6afaaf71f_1920.jpg'%}" /><p>商品名</p><span>2,600円</span><span>有名パン屋さんのパンです</span><br><a href="" class="btn btn--orange btn--border-solid">カート</a></a></li>
    <li><a href=""><img src="{% static 'media/apples-g6afaaf71f_1920.jpg'%}" /><p>商品名</p><span>2,600円</span><span>有名パン屋さんのパンです</span><br><a href="" class="btn btn--orange btn--border-solid">カート</a></a></li>
    <li><a href=""><img src="{% static 'media/apples-g6afaaf71f_1920.jpg'%}" /><p>商品名</p><span>2,600円</span><span>有名パン屋さんのパンです</span><br><a href="" class="btn btn--orange btn--border-solid">カート</a></a></li>
    <li><a href=""><img src="{% static 'media/apples-g6afaaf71f_1920.jpg'%}" /><p>商品名</p><span>2,600円</span><span>有名パン屋さんのパンです</span><br><a href="" class="btn btn--orange btn--border-solid">カート</a></a></li>
    <li><a href=""><img src="{% static 'media/apples-g6afaaf71f_1920.jpg'%}" /><p>商品名</p><span>2,600円</span><span>有名パン屋さんのパンです</span><br><a href="" class="btn btn--orange btn--border-solid">カート</a></a></li>
    <li><a href=""><img src="{% static 'media/apples-g6afaaf71f_1920.jpg'%}" /><p>商品名</p><span>2,600円</span><span>有名パン屋さんのパンです</span><br><a href="" class="btn btn--orange btn--border-solid">カート</a></a></li>

    
    </ul>
    </div>
    
  





    
         <!-- ハンバーガーメニュー -->
         <div class="el_humburger"><!--ハンバーガーボタン-->
            <div class="el_humburger_wrapper">
              <span class="el_humburger_bar top"></span>
              <span class="el_humburger_bar middle"></span>
              <span class="el_humburger_bar bottom"></span>
            </div>
          </div>
         
          <header class="navi"><!--ナビゲーション-->
            <div class="navi_inner">
                <div class="navi_item"><a href="../カート.html">カート</a></div>
              <div class="navi_item"><a href="site.html">Home</a></div>
              <div class="navi_item"><a href="Job.html">Job</a></div>
              <div class="navi_item"><a href="Map/map.html">Map</a></div>
              <div class="navi_item"><a href="new.html">News</a></div>
              <div class="navi_item"><a href="Q&A.html">Q&A</a></div>
              <div class="navi_item"><a href="service.html">Company</a></div>
            </div>
          </header>
</body>
</html>